---
layout: default
---

<div class="bg-3 container-fluid" style="padding:0px;" id="home">
    <div class="text-center margin">
        <!-- <img class="img-responsive" style="width:100%; max-width: 400px; margin-top:50px;" src="{{ "/assets/img/mediumres/WMLG.png" | relative_url }}" alt="Warwick Machine Learning Group"> -->
        <video width="720" height="720" autoplay loop>
          <source src="/assets/img/animations/wmlg_xmas.webm" type="video/webm">
          <source src="/assets/img/animations/wmlg_xmas.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
      </div>

    <!-- https://apple.stackexchange.com/questions/88130/change-canvas-size-in-preview-app-without-scaling-image -->
    <!-- <div class="row" style="width:100%; padding:20px;"> -->
    <div class="row">
        <div class="col-lg-0 col-xl-1">

        </div>
        <div class="col-lg-12 col-xl-10" id="logo-home">
          <div class="row">
            {% assign logos = site.data.logos | sort: "name" %}
            {% for logo in logos %}
              <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2">
                <a href="{{ logo.link }}">
                  <img class="card-img-top"
                       src="{{ logo.src }}"
                       alt="{{ logo.name }}"
                  />
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-lg-0 col-xl-1">
          <br><br>
        </div>
    </div>
</div>
